fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#convert_button {
    padding: 5px;
    text-align: center;
    background-color: #94be94;
    border-radius: 5px;
}

#convert_button:enabled:hover {
    background-color: #bbcebb;
}

#convert_button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;

}

label {
    padding: 5px;
}